<form [formGroup]="myForm" (submit)="validateForm()">
    <div class="form-group">
      <label for="exampleInputEmail1">Category ID</label>
      <input type="number" class="form-control" id="catid" aria-describedby="emailHelp" placeholder="Enter category id" formControlName="id">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Product name</label>
        <input type="text" class="form-control" id="prod_name" aria-describedby="emailHelp" placeholder="Enter Product name" formControlName="name">
      </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Product Type</label>
        <input type="text" class="form-control" id="prod_type" aria-describedby="emailHelp" placeholder="Enter Product Type" formControlName="type">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Product Price</label>
        <input type="number" class="form-control" id="prod_price" aria-describedby="emailHelp" placeholder="Enter Product Price" formControlName="price">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Description</label>
        <textarea class="form-control" id="desc" rows="3" formControlName="desc"></textarea>
      </div>
      <div style="padding-bottom: 2em;">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

  <table class="table table-striped">
        
    <thead class="thead-dark">

      <tr>

        <th scope="col">S.No.</th>

        <th scope="col">Category ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Type</th>
        <th scope="col">Product Price</th>
        <th scope="col">Product Description</th>

      </tr>

    </thead>

    <tbody

      *ngFor="

        let item of prods;

        let index = index;

        trackBy: trackByIndex

      "

    >

      <tr>

        <th scope="row">{{ index + 1 }}</th>

        <td>{{ item.categoryId }}</td>
        <td>{{ item.productName }}</td>
        <td>{{ item.productType }}</td>
        <td>{{ item.productPrice }}</td>
        <td>{{ item.productDescription }}</td>


      </tr>

    </tbody>

  </table>

